<div style="margin-top: 80px">
  <div class="text-center">
    <h1 class="text-white">Our Movies</h1>
    <div class="d-flex justify-content-center mt-4">
      <nav class="nav nav-pills">
        <a
          *ngFor="let category of categories"
          class="nav-link rounded-pill border mx-2 px-4 py-2"
          [class.bg-white]="category !== activeCategory"
          [class.text-dark]="category !== activeCategory"
          [class.bg-primary]="category === activeCategory"
          [class.text-white]="category === activeCategory"
          (click)="filterMovies(category)"
          >{{ category }}</a
        >
      </nav>
    </div>

    <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="d-flex justify-content-center mt-4"></div>
      <div class="carousel-inner">
        <!-- First Slide -->
        <div class="carousel-item active">
          <div class="row mx-auto" style="max-width: 1200px">
            <div class="col-sm-6 col-md-3" *ngFor="let film of filteredFilms">
              <app-single-movie
                [film]="film"
                [routerLink]="['/movie-details', film.id]"
              ></app-single-movie>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
